.strike {
    text-decoration: line-through;
}
.reveal .bold {
    font-weight: 900;
}
.reveal pre {
}
.no-title header {
    display: none;
}
.smaller-font span {
    font-size: 80%;
}
.smaller-font-2 span {
    font-size: 60%;
}
